.custom-calendar.rmdp-wrapper,
.rmdp-container .custom-calendar.ep-arrow::after {
	background-color: var(--depth2);
}

.rmdp-container .custom-calendar.ep-arrow[direction='bottom'] {
	border-top: 1px solid var(--depth2);
}

.rmdp-container .custom-calendar.ep-arrow[direction='top'] {
	border-bottom: 1px solid var(--depth2);
}
.rmdp-container.custom-calendar,
.rmdp-wrapper.custom-calendar {
	color: var(--textPrimary);
}
.rmdp-container.custom-calendar .rmdp-day.rmdp-selected span:not(.highlight),
.rmdp-wrapper.custom-calendar .rmdp-day.rmdp-selected span:not(.highlight) {
	background-color: var(--primary);
	min-width: fit-content;
	padding: 2px;
}

.rmdp-container.custom-calendar .rmdp-day.rmdp-today span,
.rmdp-wrapper.custom-calendar .rmdp-day.rmdp-today span {
	background-color: var(--secondary);
	min-width: fit-content;
	padding: 2px;
}

.custom-calendar .rmdp-panel {
	width: 100%;
	grid-template-rows: 1fr !important;
	padding-top: 3rem;
}
/* .custom-calendar .rmdp-panel-body span {
	color: var(--textSecondary);
} */
.rmdp-wrapper.custom-calendar .rmdp-panel-body {
	/* background-color: var(--depth2); */
}
.custom-calendar .rmdp-panel > :nth-child(2)::-webkit-scrollbar {
	width: 5px;
	border-radius: var(--roundedSmall);
}
.custom-calendar .rmdp-panel > :nth-child(2)::-webkit-scrollbar-thumb {
	border-radius: var(--roundedSmall);
	background: var(--secondary);
}

.custom-calendar .rmdp-panel-body li.bg-yellow span {
	color: var(--textPrimary);
}
.custom-calendar .rmdp-panel-body li span {
	color: var(--textSecondary);
}
.rmdp-container.custom-calendar .rmdp-month-picker,
.rmdp-container.custom-calendar .rmdp-year-picker {
	background-color: var(--depth2);
}
.rmdp-wrapper.custom-calendar .rmdp-month-picker,
.rmdp-wrapper.custom-calendar .rmdp-year-picker {
	background-color: var(--depth1);
}
.rmdp-month-picker,
.rmdp-year-picker {
	background-color: var(--depth1) !important;
	border-radius: var(--roundedSmall) !important;
}
.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span {
	overflow: hidden;
	margin: 2px;
}

.rmdp-week,
.rmdp-ym {
	gap: 5px;
}
.rmdp-panel-header {
	display: none;
}
.rmdp-arrow-container {
	align-items: center;
	width: 20px;
}
.rmdp-arrow-container i {
	margin: 0 !important;
}
@media screen and (max-width: 530px) {
	.rmdp-top-class {
		flex-direction: column;
	}
	.rmdp-calendar {
		min-width: 100% !important;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.rmdp-header > div {
		width: 200px;
	}

	.rmdp-panel-body {
		flex-direction: row !important;
		overflow-x: auto !important;
	}

	.rmdp-panel > :nth-child(2) {
		height: 60px;
	}
	.box {
		max-width: 90%;
	}
}
