.mainElements {
	flex-direction: column;

	gap: 2rem;

	display: flex;
	width: fit-content;
}

.addPublication {
	margin: 0;
	border-radius: 100%;
}

.additionalElements {
	height: -moz-fit-content;
	height: fit-content;
	background-color: var(--depth1);
	border-radius: var(--roundedBig);
	flex-direction: column;
	width: fit-content;
	display: flex;
}

.additionalElements > * {
	position: sticky;
	top: 2rem;
}

.additionalElements > div {
	box-shadow: none;
	border-radius: var(--roundedBig);
}

.additionalElements > div > * {
	border-radius: var(--roundedBig);
	background-color: var(--depth1);
}
