.user {
	grid-row: 1 / 2;
}

.title {
	grid-row: 2 / 3;
}

.body {
	grid-row: 3 / 4;
	width: 100%;
	height: 100%;
	background-color: var(--depth2);
	border-radius: var(--roundedBig);
}

.footer {
	grid-row: 4 / 5;
}
