.info {
	grid-row: 1 / 2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.info > * {
	font-size: 0.8rem;
	color: var(--textPrimaryHover);
}

.title {
	display: flex;
	align-items: center;
	grid-row: 2 / 3;
	background-color: var(--depth2);
	border-radius: var(--roundedBig);
	padding: 0.5rem;
	width: 100%;
	height: 100%;
}

.body {
	grid-row: 3 / 4;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	background-color: var(--depth2);
	border-radius: var(--roundedBig);
}

.footer {
	grid-row: 4 / 5;
}

.footer > * {
	display: flex;
	flex-direction: row;
	margin-right: 0.5rem;
}

.footer > * > * {
	margin-right: 0.5rem;
}
