.multiSelect {
	position: relative;
}

.main {
	width: 100%;
	border-radius: var(--rounded);
	background-color: var(--depth2);
	padding: 0.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.folded {
	display: none !important;
}

.list {
	width: 100%;
	background-color: var(--depth3);
	border-radius: 0.25rem;
	position: absolute;
	top: 100%;
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	list-style: none;
}

.tag {
	cursor: pointer;
}
/* .main button {
	cursor: pointer;
} */
.list button {
	cursor: pointer;
	background: none;
}
.list li {
	display: flex;
	background: var(--depth2);
	border-radius: 0.25rem;
	padding: 0.25rem;
}

.main:disabled {
	background-color: var(--depth3);
}
.selectedList {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	list-style: none;
}
