.multiSelect {
	position: relative;
	width: 350px;
	height: fit-content;
}

.main {
	width: 100%;
	min-height: 40px;
	height: 40px;
	border-radius: var(--rounded);
	background-color: var(--depth3);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main svg {
	fill: var(--primary);
	transition: rotate 0.5s;
}
.main svg:hover {
	rotate: 1980deg;
	transition: rotate 0.5s;
}
.folded {
	height: 0 !important;
	padding: 0 !important;
	transition: height 0.5s;
}
.folded > * {
	display: none !important;
}

.list {
	width: 100%;
	list-style: none;
	background-color: var(--depth2);
	padding: 0.5rem;
	gap: 0.2rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: absolute;
	transition: height 0.5s;
}
.list:empty {
	display: none;
}
.tag {
	cursor: pointer;
}
/* .main button {
	cursor: pointer;
} */
.list button {
	cursor: pointer;
	background: none;
}
.list li {
}
.list li button {
}
.main:disabled {
	background-color: var(--depth3);
}
.selectedList {
	background-color: var(--depth3);
	width: 100%;
	height: -moz-fit-content;
	height: 40px;
	/* flex-wrap: wrap; */
	gap: 0.1rem;
	padding: 0.2rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	border-radius: var(--rounded);
}

.selectedList::-webkit-scrollbar {
	position: absolute;
	height: 5px;
}
.selectedList::-webkit-scrollbar-track {
	background-color: var(--depth1);
	padding: 0.2rem;
	border-radius: var(--rounded);
}
.selectedList::-webkit-scrollbar-thumb {
	width: 20px;
	background-color: var(--secondary);
	border-radius: var(--rounded);
}
.selectedList:empty {
	padding: 0;
}
.selectedList li {
	list-style: none;
	margin: 0.1rem 0.2rem;
	cursor: pointer;
	padding: 0.2rem;
	border-radius: var(--roundedBig);
}
.selectedList li button {
	background: none;
	color: white;
	border-radius: var(--roundedBig);
	cursor: pointer;
}
