.container {
	width: 30rem;
	padding: 2rem;
	gap: 1rem;
}
.calendar {
	width: 100% !important;
	max-width: 24rem;
}
.date {
	width: 100%;
}
/* .input input {
	width: 100%;
} */
.input {
	width: 100%;
	max-width: 24rem;
}
