@import './../../css.css';
/*  w-full h-full bg-depth2 */
body {
	background-color: var(--depth0);
}
.container {
	width: 100%;
	height: 100%;
	background-color: var(--depth0);

	padding: 16px;
	display: flex;
	flex-direction: row-reverse;
	gap: 5px;
}

.registerForm {
	width: 30%;
	background-color: var(--depth1);
	height: fit-content;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	padding: 32px;
	margin: auto;
	display: flex;
	flex-direction: column;
	border-radius: var(--roundedBig);
	gap: 10px;
}
.registerForm > label > input {
	/* "bg-depth2 border-2 w-full rounded-sm border-accent py-1.25 px-2 focus:outline-none focus:border-text" */
	width: 100%;

	border-radius: var(--rounded);
	background-color: var(--depth2);
	padding: 0.5rem;
}
/* button */

.registerForm > button {
	background-color: var(--primary);
	color: var(--textPrimary);
	width: fit-content;
	padding: 0.5rem 1rem;
	border-radius: var(--rounded);
	margin: 10px auto;
	font-weight: 600;
	transition-duration: var(--transitionSpeedFast);
}
.registerForm > button:hover {
	color: var(--textPrimaryHover);
	background-color: var(--primaryHover);
	transition-duration: var(--transitionSpeedFast);
}
.registerForm a {
	width: fit-content;

	color: var(--link);
	text-decoration: underline;
}
.registerForm a:hover {
	color: var(--linkHover);
}

@media only screen and (max-width: 900px) {
	.registerForm {
		width: 80%;
	}
}
@media only screen and (max-width: 500) {
	.registerForm {
		width: 95%;
	}
}
