.navWrapper {
	position: fixed;
	pointer-events: none;
	z-index: 10000;
	height: 100vh;
}
.nav {
	pointer-events: auto;
	width: 250px;
	max-width: 300px;
	z-index: 10000;
	height: 100vh;
	background-color: var(--depth1);
	filter: var(--shadow);
	transition-duration: var(--transitionSpeed);
	transition-timing-function: ease-in-out;
	transition-property: translate;
}

.nav ul {
	list-style: none;
	height: 100%;
}

.nav li {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	transition-duration: var(--transitionSpeed);
}

.nav li:hover {
	background-color: var(--depth0);
}

.nav li a {
	width: 100%;
	padding-left: 1rem;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	padding-right: 1rem;
	height: 3rem;
	color: var(--textPrimary);
	text-decoration: none;
	font-size: 1.5rem;
	transition-property: color, background-color;
	transition-duration: var(--transitionSpeed);
	display: flex;
	justify-content: left;
	align-items: center;
}
.nav li:hover a {
	color: var(--textPrimaryHover);
}
.nav li:hover span {
	color: var(--primary);
}

.nav li:first-child {
	justify-content: left;

	padding-right: 0;
	/* border on bottom */
	border-bottom: 4px solid var(--primary);
	align-items: center;
}

.nav li:first-child a {
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;

	transition-duration: var(--transitionSpeed);
	white-space: nowrap;
}
.nav li:first-child:hover a {
	color: var(--textPrimaryHover);
}
.nav li:first-child span {
	display: none;
}

.nav li span {
	width: 5px;
	position: absolute;
	right: 5px;
	height: 0;
	border-radius: 5px;
	background-color: var(--primary);

	transition: height 0.3s ease-in-out;
}
.nav li:focus a,
.nav li:hover span {
	height: 5px;
	transition: height 0.3s ease-in-out;
}
.onPage {
	height: 40% !important;
	transition: height 1s ease-in-out;
}
.nav svg {
	width: 1.8rem;
	height: 1.8rem;
	fill: var(--primary);
	stroke: var(--primary);
	transition-duration: var(--transitionSpeed);
	margin-right: 0.75rem;
	flex-shrink: 0;
}

.showNav {
	z-index: 100;
	position: fixed;
	display: none;
	pointer-events: all;
}

@media only screen and (max-width: 900px) {
	.showNav {
		display: block;
		width: 3.25rem;
		height: 3.25rem;

		position: absolute;
		left: calc(100vw - 7px - 3.25rem);
		top: 7px;
		z-index: 100;
		background-color: var(--primary);

		transition-duration: var(--transitionSpeed);
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		pointer-events: auto;
		border-radius: var(--roundedBig);
	}
	.nav {
		position: absolute;
		translate: -130%;
	}
	.showNav svg {
		width: 2rem;
		height: 2rem;
		fill: var(--textSecondary);
		transition-duration: var(--transitionSpeed);
		margin-right: 1rem;
		margin: 0px;
	}
	.showMenu {
		translate: 0%;
	}
}
