.filters {
	width: 100%;
	display: flex;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
	align-items: center;
	justify-content: space-between;
}
.filters > h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: 33%;
}
.filterList {
	display: flex;
	width: 66%;
	justify-content: flex-end;
}
/* for screens under 700px */
@media (max-width: 700px) {
	.filters {
		flex-direction: column;
	}
	.filters > h1 {
		width: 100%;
	}
	.filterList {
		width: 100%;
	}
}
@media (max-width: 500px) {
	.filterList {
		flex-wrap: wrap;
		justify-content: center;
	}
}
