.filters {
	width: 100%;
	display: flex;

	align-items: center;
	flex-direction: column;
	padding-bottom: 2rem;
	border-bottom: 2px solid var(--depth1);
}
.filters > h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.filterList {
	display: flex;

	justify-content: flex-end;
}
/* for screens under 700px */
@media (max-width: 700px) {
	.filters {
		flex-direction: column;
	}
	.filters > h1 {
		width: 100%;
	}
	.filterList {
		width: 100%;
	}
}
@media (max-width: 500px) {
	.filterList {
		flex-wrap: wrap;
		justify-content: center;
	}
}
