.bookMeeting {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 3rem;
}
.bookMeeting > h1 {
	width: 100%;
	text-align: center;
	font-size: 6rem;
	padding-right: 0.5rem;
}
