/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
	/* TODO CHANGE FOCUS BORDER FOR BLINDS PEOPLE */
	/* TODO: Change font to Oswald */

	--primaryFont: 'Poppins', sans-serif;
	/* 
	kolory
	1. Background (0dp elevation surface overlay)
	2. Surface (with 1dp elevation surface overlay)
	3. Primary
	4. Secondary

	teksty
	5. On background
	6. On Surface
	7. On Primary
	8. On Secondary
	*/

	/* background depths */
	/* --depth0: rgb(32, 34, 37);
	--depth1: rgb(41, 43, 47);
	--depth2: rgb(47, 49, 54);
	--depth3: ;
	--depth4: ;
	--depth5: ; */

	--depth0: rgb(241, 242, 241);
	--depth1: rgb(229, 231, 229);
	--depth2: rgb(219, 219, 219);
	--depth3: rgb(203, 203, 203);

	/* colors */
	--primary: rgb(50, 130, 200); /* #5865f2 - zamienione z blue*/
	--primaryHover: #4752c4;

	--secondary: #ac81dd;
	--secondaryHover: #a07bcb;

	--red: rgb(200, 50, 50);
	--yellow: rgb(200, 190, 50);
	--green: rgb(50, 200, 90);
	--blue: rgb(50, 130, 200);

	/* text colors  */
	--textPrimary: #393939;
	--textPrimaryHover: #6e6e6e;
	--textSecondary: #f0feff;
	--textSecondaryHover: #dae7ea;
	--textError: #df3638;

	--mainFontColor: #b9bbbe;
	--link: #4a8ca6;
	--linkHover: rgb(3, 148, 206);
	--red: #d83c3e;
	--redFocused: #a12d2f;
	--roundedSmall: 3px; /* checkbox */
	--rounded: 5px; /* inputs */
	--roundedBig: 8px;

	--transitionSpeed: 600ms;
	--transitionSpeedFast: 300ms;
	--shadow: drop-shadow(0px 0px 8px rgb(28, 28, 28));
}

* {
	margin: 0px;
	padding: 0px;
	font-size: 1rem;
	gap: 0px;
	box-sizing: border-box;
	color: var(--textPrimary);
	font-family: var(--primaryFont);
	scroll-behavior: smooth !important;
	border-style: none;
	z-index: 2;
}

/* *:focus {
	outline-color: var(--primary);
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -1px;
} */

html {
	height: 100vh;
	width: 100%;
}

body {
	min-height: 100vh;
	background-color: var(--depth0);
}

.root {
	height: 100%;
	width: 100%;
	display: flex;
}
.root > span {
	color: var(--textPrimary);
	position: absolute;
	font-size: 2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
a {
	width: fit-content;
	color: var(--link);
	text-decoration: underline;
	font-weight: 600;
}

a:hover {
	color: var(--linkHover);
}

/* animacja ładowania */
.loading {
	height: fit-content;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 0.5rem;
}
.loading > h1 {
	font-size: 2rem;
}
.loadingDots {
	position: relative;
	margin: 0px 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: var(--textPrimary);
	color: var(--textPrimary);
	animation: loadingDots 1s infinite linear alternate;
	animation-delay: 0.5s;
	margin-top: auto;
	margin-bottom: 7px;
}
.loadingDots::before,
.loadingDots::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}
.loadingDots::before {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	left: -15px;
	background-color: var(--textPrimary);
	animation: loadingDots 1s infinite linear alternate;
	animation-delay: 0s;
}
.loadingDots::after {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	left: 15px;
	background-color: var(--textPrimary);
	animation: loadingDots 1s infinite linear alternate;
	animation-delay: 1s;
}
@keyframes loadingDots {
	0% {
		background-color: var(--textPrimary);
	}
	50%,
	100% {
		background-color: #ebe6ff;
	}
}
