/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
	/* TODO CHANGE FOCUS BORDER FOR BLINDS PEOPLE */
	/* TODO: Change font to Oswald */

	--primaryFont: sans-serif;

	/* 
	kolory
	1. Background (0dp elevation surface overlay)
	2. Surface (with 1dp elevation surface overlay)
	3. Primary
	4. Secondary

	teksty
	5. On background
	6. On Surface
	7. On Primary
	8. On Secondary
	*/

	/* background depths */
	--depth0: rgb(32, 34, 37);
	--depth1: #292b2f;
	--depth2: #2f3136;
	--depth3: ;
	--depth4: ;
	--depth5: ;
	--depth6: ;
	--depth7: ;

	/* colors */
	--primary: #5865f2;
	--primaryHover: #4752c4;

	--secondary: #9896dd;

	/* text colors  */
	--textPrimary: #bbc5d0;
	--textPrimaryHover: #e0e7ee;
	--textError: #f38688;
	
	--mainFontColor: #b9bbbe;
	--link: #00aff4;
	--linkHover: rgb(3, 148, 206);
	--red: #d83c3e;
	--redFocused: #a12d2f;
	--rounded: 5px; /* inputs */
	--roundedBig: 8px;

	--transitionSpeed: 600ms;
	--transitionSpeedFast: 300ms;
	--shadow: drop-shadow(0px 0px 8px rgb(28, 28, 28));
}

* {
	margin: 0px;
	padding: 0px;
	font-size: 1rem;
	gap: 0px;
	box-sizing: border-box;
	color: var(--textPrimary);
	font-family: var(--primaryFont);
	scroll-behavior: smooth !important;
	border-style: none;
}

*:focus {
	outline-color: var(--secondary);
	outline-style: solid;
	outline-width: 1px;
}

html {
	height: 100vh;
	width: 100vw;
}

body {
	min-height: 100vh;
	background-color: var(--depth0);
}

.root {
	height: 100%;
	width: 100%;
	display: flex;
}

a {
	width: fit-content;

	color: var(--link);
	text-decoration: underline;
}

a:hover {
	color: var(--linkHover);
}
