.center {
	width: 100%;
	height: 100%;

	padding: 2rem;
	display: flex;

	justify-content: space-evenly;
	gap: 5px;
	/* z-index: 1 !important; */
}
@media only screen and (max-width: 900px) {
	.center {
		flex-wrap: wrap;
		justify-content: center;
	}
}
