.center {
	width: 100%;
	height: 100%;

	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 2rem;
	display: flex;
}
@media only screen and (max-width: 900px) {
	.center {
		flex-wrap: wrap;
		justify-content: center;
		padding: 1rem;

		align-items: center;
	}
}
