.box {
	border-radius: var(--roundedBig);
}
@media screen and (max-width: 900px) {
	.center {
		justify-content: center;
	}
	.box {
		width: 70%;
		position: relative;
	}
	.box > form > label {
		width: 100% !important;
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 500px) {
	.box {
		width: 90% !important;
		padding: 0 !important;
	}
}
