.tag {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--rounded);
	width: fit-content;
	height: fit-content;
	padding: 0.2rem 0.3rem;
}

.text {
	color: var(--textSecondary);
	font-size: 0.8rem;
	mix-blend-mode: screen;
}

.emoji {
	font-size: 0.8rem;
}
