/* Chceckbox style */
.checkbox {
	color: var(--textSecondary);
	appearance: none;
	-webkit-appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--roundedSmall);
	border-style: solid;
	border-width: 0.1rem;
	opacity: 30%;
	border-color: var(--textPrimary);
	background-color: transparent;
	transition: opacity 0.4s ease-in-out;
}

.checkbox:hover {
	cursor: pointer;
<<<<<<< Updated upstream
	background-color: var(--depth2);
}

.checkbox:checked {
	background-color: var(--primary);
=======
	opacity: 100%;
	transition: opacity 0.4s ease-in-out;
	/* 	filter: brightness(90%);
 */
}

.checkbox:checked {
	background-color: var(--secondary);
	border: none;
>>>>>>> Stashed changes
}

.checkbox:checked::after {
	display: flex;
	justify-content: center;
	content: '\2714';
	color: var(--textSecondaryPrimary);
}
