/* Chceckbox style */
.checkbox {
	-webkit-appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--roundedSmall);
	border-style: solid;
	border-width: 0.1rem;
	border-color: var(--textSecondaryPrimary);
	background-color: transparent;
}

.checkbox:hover {
	cursor: pointer;
	/* 	filter: brightness(90%);
 */
}

.checkbox:checked {
	background-color: var(--secondary);
}

.checkbox:checked::after {
	display: flex;
	justify-content: center;
	content: '\2714';
	color: var(--textSecondaryPrimary);
}
.checkbox:focus {
	outline: none;
}
