/* Chceckbox style */

.checkbox {
	width: 20px;
	height: 20px;
	color: var(--textSecondary);
	appearance: none;
	-webkit-appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--roundedSmall);
	border-style: solid;
	border-width: 0.1rem;
	border-color: var(--textPrimary);
	background-color: transparent;
	transition: opacity 0.4s ease-in-out;
}

.checkbox:hover {
	cursor: pointer;
	opacity: 100%;
	transition: opacity 0.4s ease-in-out;
	background-color: rgba(88, 101, 242, 0.5);
	cursor: pointer;
}

.checkbox:checked {
	background-color: var(--primary);
	border: none;
}

.checkbox:checked::after {
	display: flex;
	justify-content: center;
	content: '\2714';
	color: var(--textSecondaryPrimary);
}

/* .checkbox {
	width: 50px;
	height: 50px;
	opacity: 0;
	position: absolute;
	z-index: 10;
	cursor: pointer;
}

.wrapper {
	background-color: var(--depth2);
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(45deg);
}
.tick {
	width: 25px;
	height: 8px;
	position: relative;
	background: var(--primary);
	transform-origin: 0% 0%;
	border-radius: 5px 5px 0px 5px;
	margin-left: -5px;
	margin-bottom: -15px;
	animation: animate 2s alternate;
}
.tick::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 50px;
	background: inherit;
	border-radius: inherit;
	right: 0;
	bottom: 5px;
	transform-origin: 0% 100%;
	animation: animate-before 2s 1 alternate;
}
.form_input {
	width: 50px;
	height: 50px;
	border: 4px solid var(--primary);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	scale: 0.4;
	opacity: 0.5;
	margin-left: -15px;
}
.form_input:hover {
	opacity: 0.7;
}
.form_input_checked {
	width: 50px;
	height: 50px;
	border: 4px solid var(--primary);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	scale: 0.4;
	opacity: 1;
	margin-left: -15px;
}
@keyframes animate {
	0%,
	20% {
		transform: scaleX(0);
	}
	30% {
		transform: scaleX(1);
	}
	95%,
	100% {
		opacity: 1;
	}
}
@keyframes animate-before {
	0%,
	30% {
		transform: scaleY(0);
	}
	45% {
		transform: scaleY(1);
	}
	95%,
	100% {
		opacity: 1;
	}
} */
